<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control required"
            size="120"
            max="120"
            name="name"
            [ngModel]=contact?.name
            #name="ngModel"
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            class="form-control required"
            size="120"
            max="255"
            name="email"
            [ngModel]=contact?.email
            #email="ngModel"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div 
          class="alert alert-danger" 
          *ngIf="!email.valid && email.touched">
            Enter a valid email address.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            class="form-control invalid"
            size="150"
            max="255"
            name="phone"
            [ngModel]=contact?.phone
            #phone="ngModel"
            pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*">
          <div 
          class="alert alert-danger" 
          *ngIf="!phone.valid && phone.touched">
            Enter a valid phone number.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="text"
            id="imageUrl"
            class="form-control"
            size="150"
            max="255"
            name="imageUrl"
            [ngModel]=contact?.imageUrl
            #imageUrl="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="groupList">Group Contacts:</label>
          <!-- Added for adding contacts through a drop-down menu - addition -->  
          <div class="row" style="margin-bottom: 1rem;" >
            <div class="col-sm-8">
              <select class="form-control" 
              style="width: 215px; 
              padding-left: .75rem;
              border: 2px solid rgba(56, 118, 181, 0.677);" 
              [(ngModel)]="selectedContactId" name="selectedContact" title="Select a contact to add to the group">
                <option value="">Select ... or &nbsp;&#8665;Drag Below&#8665;</option>
                <option *ngFor="let contact of availableContacts" [value]="contact.id">
                  {{ contact.name }} ({{ contact.email }})
                </option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" style="padding-left: .4rem; padding-right: .4rem;" class="btn btn-primary" (click)="onAddContactToGroup()" [disabled]="!selectedContactId">
                Add Contact
              </button>
            </div>
          </div>
          <!-- Regular Assignment Code -->
          <div 
          class="alert alert-danger" 
          *ngIf="groupContactRepeat">
            Contact can not be added to the group! The contact is already in the group.
          </div>
          <div 
          class="alert alert-danger" 
          *ngIf="currentContact">
            Contact can not be added to the group! You cannot add the current contact to the group.
          </div>
          <!-- START of Drop Zone for Drag and Drop -->
          <div class="row" id="groupList"
              style="min-height: 3rem;" 
              dndDropzone
              (dndDrop)="addToGroup($event)">
            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)" type="button" >X</button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1">Drag contacts in group here</span>
          </div>
          <!-- END of Drop Zone for Drag and Drop -->
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <div 
          class="alert alert-danger" 
          style="margin-left: .5rem; margin-right: -.5rem;"
          *ngIf="!name.valid && name.touched || !email.valid && email.touched">
            The Name and Email fields are required.
          </div>
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>

