<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left" style="margin-top: 5px; font-weight: bold; font-size: 2.5rem;">Contacts</h3>
    <button routerLink="new" class="btn btn-success pull-right">New Contact</button>
  </div>

  <div class="panel-body">    
    <!-- <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" [dndDraggable]="contact"></cms-contact-item> -->
    @for (contact of contacts; track contact.id) {
      <cms-contact-item [contact]="contact" [dndDraggable]="contact"></cms-contact-item>
    }
  </div>
</div>

